<div class="wrapper">
    <div class="header-wrapper">
              <div id="header" class="sticky">
                    <div class="container">
                        <a href="/"><span class="handy-logo"></span></a>
                          <div class="menu desktop-only">
                            <nav>
                              <ul class="nav nav-pills pull-right" >
                              <li class=" ">
                                  <%=link_to "Live Exchange", analysis_path, :class=>'nav-link'%>
                              </li>

                          <% if user_signed_in? %>
                              <li class="">
                                  <%=link_to "Portfolio", portfolios_path, :class=>'nav-link'%>
                              </li>
                              <li class="active ">
                                  <%=link_to "Account", social_trading_path(current_user.id), :class=>'nav-link' %>
                              </li>
                              <li class=" ">
                                  <%=link_to "Social Trading", social_trading_index_path, :class=>'nav-link'%>
                              </li>
                              <li class=" ">
                                  <%=link_to "Log Out", destroy_user_session_path, method: :delete, :class=>'nav-link'%>
                              </li>

                          <% else %>
                              <li class=" ">
                                <%=link_to "Register", new_user_registration_path, :class=>'nav-link', :title=>'Register'%>
                              </li>
                              <li class=" ">
                                  <%=link_to "Log In", new_user_session_path, :class=>'nav-link', :title=>'Log In'%>
                              </li>

                          <% end %>
                          <li class= "">
                              <a class="handy-btn btn-outline-animated btn-orange-white" href="/contact" title="Contact Us" target="_blank"><svg style="background-color: transparent !important"><rect x="0" y="0" fill="none" width="100%" height="100%"/></svg>Contact Us</a>
                          </li>
                          </ul>
                        </nav>
                      </div>
              </div>
          </div>
  </div>
</div>

<div ui-view="" class="ng-scope" style=""><div full-height="" id="wallet-dashboard" class="ng-scope" style="min-height: 600px;">
  <div class="container" style='background-color:#f8f8f8'>

    <div id="wallet-section">


        <h1 class="section-header"><%= image_tag ('briefcase.png'), :style=>'width:50px' %>
          <% if params[:id].to_s != current_user.id.to_s %>
          Active Trader: <%= @active_trader.name %> (Rank #<%= @trader_ranking %>)
          <%#= link_to "Back to Active Traders List", social_trading_index_path %>
          <br>
          <% else %>
          <%= current_user.name %>'s Account Overview</h1></h1>
<% end %>


<h2 class="overview-date-time"></h2>


<div class="row account first" style="padding-left:10px">
						<div class="col-md-3">
							<div class="account-icon">
								<%= image_tag ("usflag.png"), :style=>"width:70px" %>
							</div>
							<div class="account-label">
								<div class="currency-short-form hidden-xs hidden-sm">Credits</div>
								<div class="currency-full-name">Virtual Dollars</div>
							</div>
						</div>
						<div class="col-md-2 account-wallet">
							<div class="account-balance">
								<div class="balance-label hidden-xs hidden-sm">Credit Balance</div>
								<span class="currency-symbol">USD</span>
								<span class="amount ng-binding"><%= @credit_remaining %></span>
							</div>
						</div>

						<div class="col-md-1 account-wallet">
							<div class="account-balance">
								<div class="balance-label hidden-xs hidden-sm"><br></div>
								<span class="amount ng-binding"> + </span>
							</div>
						</div>

						<div class="col-md-2 account-wallet">
							<div class="account-balance">
								<div class="balance-label hidden-xs hidden-sm">Portfolio Value</div>
								<span class="currency-symbol">USD</span>
								<span class="amount ng-binding"><%= '%.2f' % @total_portfolio_value %></span>
							</div>
						</div>

						<div class="col-md-1 account-wallet">
							<div class="account-balance">
								<div class="balance-label hidden-xs hidden-sm"><br></div>
								<span class="amount ng-binding"> = </span>
							</div>
						</div>

						<div class="col-md-2 account-wallet" >
							<div class="account-balance">
								<div class="balance-label hidden-xs hidden-sm">Total Net Worth</div>
								<span class="currency-symbol">USD</span>
								<span class="amount ng-binding"><%= @total_account_value %></span>
							</div>
						</div>
					</div>

<div style="padding-left:20px">
<h3>Current Portfolio</h3>

<div class="tableDiv">
	<table id="portfolioTable" class="display compact">
	    <thead>
			<tr>
				<th>Currency</th>
				<th>Number of units</th>
			    <th>Current market value (US$)</th>
			</tr>
	    </thead>
	    <tbody>
	    	<% @user_portfolios.each do |portfolio| %>
		    	<tr>
		    		<td><%= portfolio[0] %></td>
		    		<td><%= portfolio[1] %></td>
		    		<td><%= portfolio[2] %></td>
		    	</tr>
	    	<% end %>
	    </tbody>
	</table>
</div>

<h3>Past 90-day Trades</h3>

<div class="tableDiv">
	<table id="transactionsTable" class="display compact">
	 	<thead>
			<tr>
	      		<th>Bought or sold</th>
    				<th>Currency</th>
    				<th>Number of units</th>
	      		<th>Unit price (US$)</th>
	      		<th>Transaction date</th>
			</tr>
	  	</thead>

	  <tbody id="tableBody">
			<% @all_past90days_transactions.each do |transaction| %>
				<tr id="">
	        <td><%= transaction[0] %></td>
	        <td><%= transaction[1] %></td>
	        <td><%= transaction[2] %></td>
			<td><%= transaction[3] %></td>
	        <td><%= transaction[4] %></td>
				</tr>
			<% end %>
		</tbody>

	</table>

</div>

<%= content_tag :div, class: "dtn", data: {dateTimeNow: @date_time_now} do %>
<% end %>

</div>
</div>
</div>
</div>
</div>

<div class="footer-wrapper">
    <div id="footer">
<div class="section sign-up" >
<div class="container">

<form
action="//handy.us11.list-manage.com/subscribe/post?u=74ab25dc9a29af4f96c2b9c28&amp;id=8dbc838e06"
method="POST"
id="sign_up_form_mailchimp"
class="form-horizontal desktop-only"
>
<div class="form-group" style="vertical-align:middle">


         <h2 style='text-align:center !important'>Create an account to start trading today!</h2>
         <button style='border-radius:7px; float:none; margin-left:210px' onclick="location.href='/register'" id="sign_up_form_submit_mailchimp" class="btn submit">Create Account</button>


    <div class="input-control submit-btn-container">



    </div>
</div>
</form>
</div>
</div>
<div class="section footer">
<div class="container">
<div class="col-md-6">
  <%= image_tag 'kk_logo.png', :style=>"width:220px"%>
  <div class="social-container">
        <ul class="social-bar">
            <li><img style="width:100px" src="https://assets-cdn.github.com/images/modules/logos_page/Octocat.png" alt=""></li>

            <li><%= image_tag ('ga.png'), :style=>'width:80px' %></li>

            <li><img style="width:90px; padding-left:15px" src="https://ky7jb123t6m17he4cm80n26x-wpengine.netdna-ssl.com/wp-content/uploads/2015/03/gmail-icon2.png" alt=""></li>

        </ul>
    </div>
    <div class="copyright-container">
        <div class="copyright">All Rights Reserved KryptoKnight, Co. © <%= image_tag ('comic2.png'), :style=>'width:90px' %>
        </div>

        <nav class="tnc">
          <a href="xxxx">Terms & Conditions</a>
        </nav>
    </div>
</div>

</div>
</div>
