<% if params[:id].to_s != current_user.id.to_s %>
	<!-- <h1>AAA</h1>
	<h1>params id <%#= params[:id].to_s %></h1>
	<h1><%#= current_user.id.to_s %></h1> -->
	<h1>Active Trader: <%= @active_trader.name %> (Rank #<%= @trader_ranking %>)</h1>
	<%= link_to "Back to Active Traders List", social_trading_index_path %>
	<br>
	<br>
<% else %>
	<!-- <h1>BBB</h1>
	<h1>params id <%#= params[:id].to_s %></h1>
	<h1><%#= current_user.id.to_s %></h1> -->
	<h1>Account Overview</h1>
<% end %>


<h2 class="overview-date-time"></h2>

<%#= @time_now %>
<%#= @date_now %>

<h3>Credit Balance</h3>

US$<%= @credit_remaining %>  <!-- @active_trader.credits_remaining -->

<h3>Total Portfolio Value</h3>

US$<%= '%.2f' % @total_portfolio_value %>

<h3>Total Account Worth</h3>

US$<%= @total_account_value %>

<h3>Current Portfolio</h3>

<div class="tableDiv">
	<table id="portfolioTable" class="display compact">
	    <thead>
			<tr>
				<th>Currency</th>
				<th>Number of units</th>
			    <th>Current market value (US$)</th>
			</tr>
	    </thead>
	    <tbody>
	    	<% @user_portfolios.each do |portfolio| %>
		    	<tr>
		    		<td><%= portfolio[0] %></td>
		    		<td><%= portfolio[1] %></td>
		    		<td><%= portfolio[2] %></td>
		    	</tr>
	    	<% end %>
	    </tbody>
	</table>
</div>

<h3>Past 90-day Trades</h3>

<div class="tableDiv">
	<table id="transactionsTable" class="display compact">
	 	<thead>
			<tr>
	      		<th>Bought or sold</th>
				<th>Currency</th>
				<th>Number of units</th>
	      		<th>Unit price (US$)</th>
	      		<th>Transaction date</th>
			</tr>
	  	</thead>

	  <tbody id="tableBody">
			<% @all_past90days_transactions.each do |transaction| %>
				<tr id="">
	        <td><%= transaction[0] %></td>
	        <td><%= transaction[1] %></td>
	        <td><%= transaction[2] %></td>
			<td><%= transaction[3] %></td>
	        <td><%= transaction[4] %></td>
				</tr>
			<% end %>
		</tbody>

	</table>

</div>

<%= content_tag :div, class: "dtn", data: {dateTimeNow: @date_time_now} do %>
<% end %>
