<div class="wrapper">
    <div class="header-wrapper">
    <div id="header" class="sticky">
        <div class="container">
            <a href="/"><span class="handy-logo"></span></a>
              <div class="menu desktop-only">
                <nav>
                  <ul class="nav nav-pills pull-right" >
                  <li class=" active ">
                      <%=link_to "Live Exchange", analysis_path, :class=>'nav-link'%>
                  </li>

              <% if user_signed_in? %>
                  <li class=" ">
                      <%=link_to "Portfolio", portfolios_path, :class=>'nav-link'%>
                  </li>
                  <li class=" ">
                      <%=link_to "Account", social_trading_path(current_user.id), :class=>'nav-link' %>
                  </li>
                  <li class=" ">
                      <%=link_to "Social Trading", social_trading_index_path, :class=>'nav-link'%>
                  </li>
                  <li class=" ">
                      <%=link_to "Log Out", destroy_user_session_path, method: :delete, :class=>'nav-link'%>
                  </li>

              <% else %>
                  <li class=" ">
                    <%=link_to "Register", new_user_registration_path, :class=>'nav-link', :title=>'Register'%>
                  </li>
                  <li class=" ">
                      <%=link_to "Log In", new_user_session_path, :class=>'nav-link', :title=>'Log In'%>
                  </li>

              <% end %>
              <li class= "">
                  <a class="handy-btn btn-outline-animated btn-orange-white" href="/contact" title="Contact Us" target="_blank"><svg style='background-color:transparent !important'><rect x="0" y="0" fill="none" width="100%" height="100%"/></svg>Contact Us</a>
              </li>
              </ul>
            </nav>
          </div>
        </div>
    </div>
    </div>
</div>

<div ui-view="" class="ng-scope" style=""><div full-height="" id="wallet-dashboard" class="ng-scope" style="min-height: 600px;">
  <div class="container" style='background-color:#f8f8f8; padding-left:80px'>



<br><br>
<div class="content">
  <% if user_signed_in? %>
    <h2 style="color:black; font-weight:bold">Welcome <i><%= current_user.name %>..</i></h2>
  <% end %>
</div>

<form>
<select class="currency" name="">
  <option id='BTC'>Bitcoin</option>
  <option id='ETH'>Ethereum</option>
  <option id='XRP'>Ripple</option>
  <option id='LTC'>Litecoin</option>
  <option id='DASH'>Dash</option>
</select>

<select class="timeframe" name="">
  <option class='minute' id='60'>1 Hour</option>
  <option class='minute' id='180'>3 Hour</option>
  <option class='minute' id='360'>6 Hour</option>
  <option class='minute' id='720'>12 Hour</option>
  <option class='minute' id='1440'>1 Day</option>
  <option class='hour' id='72'>3 Day</option>
  <option class='hour' id='168'>1 Week</option>
  <option class='hour' id='730'>1 Month</option>
  <option class='day' id='90'>3 Month</option>
  <option class='day' id='182'>6 Month</option>
  <option class='day' id='365'>1 Year</option>
  <option class='day' id='1095'>3 Year</option>
</select>

<select class="indicator1" name="">
  <option id=''>Moving averages</option>
  <option id='SMA5'>SMA5</option>
  <option id='SMA20'>SMA20</option>
  <option id='SMA50'>SMA50</option>
  <option id='EMA5'>EMA5</option>
  <option id='EMA20'>EMA20</option>
  <option id='EMA50'>EMA50</option>
</select>

<select class="indicator2" name="">
  <option id=''>Moving averages</option>
  <option id='SMA5'>SMA5</option>
  <option id='SMA20'>SMA20</option>
  <option id='SMA50'>SMA50</option>
  <option id='EMA5'>EMA5</option>
  <option id='EMA20'>EMA20</option>
  <option id='EMA50'>EMA50</option>
</select>

<select class="indicator3" name="">
  <option id=''>Bollinger Bands</option>
  <option id='BB(20,2)'>BB(20,2)</option>
  <option id='BB(20,2.5)'>BB(20,2.5)</option>
</select>

</form>
<div id="graph"></div>
<div id="volume"></div>

</div>
</div>
